---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [15]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    cur_state = None
    sf_list = list()
    with open('university_towns.txt') as f:
        for line in f:
            if '[edit]' in line:
                state = line.split('[')[0]
                cur_state = state
            else:
                region = line.split('(')[0].strip()
                sf_list.append([cur_state,region])
    return pd.DataFrame(sf_list,columns=["State", "RegionName"])
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
def get_gdp():
    gdp = pd.read_excel('gdplev.xls',
                       skiprows = list(range(0,5))+[6,7] ,parse_cols = "E:G")
    gdp.rename(columns={"Unnamed: 0":"Quarter"}, inplace= True)
    gdp = gdp[gdp['Quarter']>="2000q1"]
    
    for index in gdp.index:
        if index-1 not in gdp.index:
            gdp.loc[index,"GDP_Growth"] = 0
        else:
            gdp.loc[index,"GDP_Growth"] = gdp.loc[index]["GDP in billions of chained 2009 dollars"] - gdp.loc[index-1]["GDP in billions of chained 2009 dollars"]
    return gdp
get_gdp()

,Quarter,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,GDP_Growth
212,2000q1,10031.0,12359.1,0.0
213,2000q2,10278.3,12592.5,233.4
214,2000q3,10357.4,12607.7,15.2
215,2000q4,10472.3,12679.3,71.6
216,2001q1,10508.1,12643.3,-36.0
217,2001q2,10638.4,12710.3,67.0
218,2001q3,10639.5,12670.1,-40.2
219,2001q4,10701.3,12705.3,35.2
220,2002q1,10834.4,12822.3,117.0
221,2002q2,10934.8,12893.0,70.7
222,2002q3,11037.1,12955.8,62.8
223,2002q4,11103.8,12964.0,8.2
224,2003q1,11230.1,13031.2,67.2
225,2003q2,11370.7,13152.1,120.9
226,2003q3,11625.1,13372.4,220.3
227,2003q4,11816.8,13528.7,156.3
228,2004q1,11988.4,13606.5,77.8
229,2004q2,12181.4,13706.2,99.7
230,2004q3,12367.7,13830.8,124.6
231,2004q4,12562.2,13950.4,119.6
232,2005q1,12813.7,14099.1,148.7
233,2005q2,12974.1,14172.7,73.6
234,2005q3,13205.4,14291.8,119.1
235,2005q4,13381.6,14373.4,81.6
236,2006q1,13648.9,14546.1,172.7
237,2006q2,13799.8,14589.6,43.5
238,2006q3,13908.5,14602.6,13.0
239,2006q4,14066.4,14716.9,114.3
240,2007q1,14233.2,14726.0,9.1
241,2007q2,14422.3,14838.7,112.7
...,...,...,...,...
248,2009q1,14383.9,14375.0,-202.0
249,2009q2,14340.4,14355.6,-19.4
250,2009q3,14384.1,14402.5,46.9
251,2009q4,14566.5,14541.9,139.4
252,2010q1,14681.1,14604.8,62.9
253,2010q2,14888.6,14745.9,141.1
254,2010q3,15057.7,14845.5,99.6
255,2010q4,15230.2,14939.0,93.5
256,2011q1,15238.4,14881.3,-57.7
257,2011q2,15460.9,14989.6,108.3
258,2011q3,15587.1,15021.1,31.5
259,2011q4,15785.3,15190.3,169.2
260,2012q1,15973.9,15291.0,100.7
261,2012q2,16121.9,15362.4,71.4
262,2012q3,16227.9,15380.8,18.4
263,2012q4,16297.3,15384.3,3.5
264,2013q1,16475.4,15491.9,107.6
265,2013q2,16541.4,15521.6,29.7
266,2013q3,16749.3,15641.3,119.7
267,2013q4,16999.9,15793.9,152.6
268,2014q1,17025.2,15747.0,-46.9
269,2014q2,17285.6,15900.8,153.8
270,2014q3,17569.4,16094.5,193.7
271,2014q4,17692.2,16186.7,92.2
272,2015q1,17783.6,16269.0,82.3
273,2015q2,17998.3,16374.2,105.2
274,2015q3,18141.9,16454.9,80.7
275,2015q4,18222.8,16490.7,35.8
276,2016q1,18281.6,16525.0,34.3
277,2016q2,18450.1,16583.1,58.1

In [5]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    gdp = get_gdp()
    r_start_list = list()
    for index in gdp.index[:-1]:
        if gdp.loc[index]['GDP_Growth'] < 0 and gdp.loc[index+1]['GDP_Growth'] < 0:
            return gdp.loc[index]['Quarter']
get_recession_start()

'2008q3'

In [6]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gdp = get_gdp()
    r_start_list = list()
    for index in gdp.index[:-3]:
        if gdp.loc[index]['GDP_Growth'] <0  and gdp.loc[index+1]['GDP_Growth']<0 and \
        gdp.loc[index+2]['GDP_Growth'] >0 and gdp.loc[index+3]['GDP_Growth'] >0:
            return gdp.loc[index+3]['Quarter']
get_recession_end()

'2009q4'

In [7]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gdp = get_gdp()
    r_start_list = list()
    for index in gdp.index[:-3]:
        if gdp.loc[index]['GDP_Growth'] < 0  and gdp.loc[index+1]['GDP_Growth']< 0 and \
        gdp.loc[index+2]['GDP_Growth'] > 0 and gdp.loc[index+3]['GDP_Growth'] > 0:
            return gdp.loc[index+1]['Quarter']
get_recession_bottom()

'2009q2'

In [32]:
def get_clean_housing_data():
    df_states = pd.DataFrame.from_dict(states,orient='index')
    df_states.reset_index(inplace=True)
    df_states.rename(columns={0:"StateName", "index":"State"}, inplace=True)
    
    df_housing = pd.read_csv("City_Zhvi_AllHomes.csv")
    selected_cols = ["RegionName","State" ]
    year = 2000
    while year <= 2016:
        for month in range(1, 13):
            if month <= 9:
                cur_month = str(year)+ "-0" + str(month)
            else:
                cur_month = str(year)+ "-" + str(month)
            if cur_month in df_housing:
                selected_cols.append(cur_month)
        year += 1
    df_housing = df_housing[selected_cols]
    df = df_housing.merge(df_states, left_on='State', right_on='State', how='inner')
    df.drop('State', axis=1, inplace=True)
    df.rename(columns={"StateName":"State"}, inplace = True)
    df.set_index(["State","RegionName"], inplace=True)
    return df
get_clean_housing_data()

                                   2000-01   2000-02   2000-03   2000-04  \
State    RegionName
New York New York                      NaN       NaN       NaN       NaN
         Rochester                 53300.0   53600.0   53800.0   53600.0
         Yonkers                  219800.0  222200.0  224700.0  227200.0
         Syracuse                  56200.0   56800.0   57400.0   57900.0
         Town of Greece            95100.0   95100.0   95100.0   95200.0
         Albany                    91000.0   91800.0   91900.0   92200.0
         Town of Poughkeepsie     130700.0  132000.0  133200.0  134300.0
         New Rochelle             360200.0  362400.0  365700.0  367700.0
         Town of Colonie          109800.0  110700.0  111300.0  112000.0
         Mount Vernon             236800.0  239400.0  241800.0  244200.0
         Utica                     50200.0   50800.0   51100.0   51100.0
         Valley Stream            220600.0  224000.0  224900.0  224600.0
         Schenectady               72000.0   72300.0   72500.0   72700.0
         White Plains             280800.0  283900.0  288300.0  292900.0
         Town of Hempstead        168700.0  170600.0  171200.0  171500.0
         Town of Binghamton        81200.0   81700.0   82000.0   82600.0
         Town of Newburgh         115400.0  115900.0  116700.0  117600.0
         Troy                      74300.0   74700.0   75200.0   75900.0
         Niagara Falls             50100.0   50400.0   50400.0   50000.0
         Irondequoit               83400.0   83400.0   83400.0   83300.0
         Binghamton                51500.0   51800.0   52000.0   52000.0
         Massapequa               246300.0  249700.0  250500.0  250400.0
         Town of Elmira            51000.0   51200.0   51400.0   51400.0
         Henrietta                 94300.0   94700.0   94700.0   94200.0
         Town of Webster          125800.0  126300.0  127200.0  127900.0
         Patchogue                134500.0  134200.0  134500.0  134900.0
         Clifton Park             140000.0  140700.0  141200.0  141800.0
         Freeport                 181800.0  184300.0  185400.0  185500.0
         Lindenhurst              167900.0  169400.0  168900.0  168500.0
         Levittown                187800.0  190700.0  191400.0  191900.0
...                                    ...       ...       ...       ...
Vermont  Plainfield                    NaN       NaN       NaN       NaN
         West Brattleboro              NaN       NaN       NaN       NaN
         Duxbury                       NaN       NaN       NaN       NaN
         Rochester                     NaN       NaN       NaN       NaN
         Sharon                        NaN       NaN       NaN       NaN
         White River Junction          NaN       NaN       NaN       NaN
         Irasburg                      NaN       NaN       NaN       NaN
         Mt Holly                      NaN       NaN       NaN       NaN
         Ferrisburgh                   NaN       NaN       NaN       NaN
         Lincoln                       NaN       NaN       NaN       NaN
         Franklin                      NaN       NaN       NaN       NaN
         Bridport                      NaN       NaN       NaN       NaN
         Fayston                       NaN       NaN       NaN       NaN
         Tunbridge                     NaN       NaN       NaN       NaN
         Ryegate                       NaN       NaN       NaN       NaN
         Shaftsbury                    NaN       NaN       NaN       NaN
         Shoreham                      NaN       NaN       NaN       NaN
         Fairlee                       NaN       NaN       NaN       NaN
         Corinth                       NaN       NaN       NaN       NaN
         Brookfield                    NaN       NaN       NaN       NaN
         Orwell                        NaN       NaN       NaN       NaN
         Town of Wallingford           NaN       NaN       NaN       NaN
         Stamford                      NaN       NaN       NaN       NaN
         Mendon                        NaN       NaN       NaN       NaN
         Morrisville                   NaN       NaN       NaN       NaN
         Town of Marshfield            NaN       NaN       NaN       NaN
         Graniteville-East Barre       NaN       NaN       NaN       NaN
         Town of Manchester            NaN       NaN       NaN       NaN
         East Montpelier               NaN       NaN       NaN       NaN
Maine    Town of Dixfield              NaN       NaN       NaN       NaN

                                   2000-05   2000-06   2000-07   2000-08  \
State    RegionName
New York New York                      NaN       NaN       NaN       NaN
         Rochester                 53100.0   53000.0   53100.0   53200.0
         Yonkers                  230700.0  234800.0  239900.0  245900.0
         Syracuse                  58000.0   57700.0   57500.0   57400.0
         Town of Greece            95500.0   95800.0   96100.0   96400.0
         Albany                    92300.0   91800.0   91300.0   91200.0
         Town of Poughkeepsie     135400.0  136600.0  138000.0  139500.0
         New Rochelle             371000.0  373900.0  377100.0  381500.0
         Town of Colonie          112600.0  112600.0  112600.0  113200.0
         Mount Vernon             247800.0  249900.0  252900.0  258700.0
         Utica                     51100.0   51500.0   52100.0   52700.0
         Valley Stream            225100.0  225800.0  226900.0  228700.0
         Schenectady               73100.0   73500.0   73700.0   73900.0
         White Plains             298000.0  302600.0  308100.0  314600.0
         Town of Hempstead        172100.0  173200.0  174800.0  176700.0
         Town of Binghamton        82700.0   82200.0   81600.0   81600.0
         Town of Newburgh         118500.0  119100.0  119700.0  120300.0
         Troy                      76600.0   77100.0   78000.0   79200.0
         Niagara Falls             50000.0   50400.0   50500.0   50400.0
         Irondequoit               83400.0   83800.0   84100.0   84400.0
         Binghamton                51900.0   52100.0   52900.0   53500.0
         Massapequa               251200.0  252100.0  252900.0  254000.0
         Town of Elmira            51600.0   51800.0   51700.0   51600.0
         Henrietta                 94200.0   94800.0   95400.0   95700.0
         Town of Webster          128600.0  129300.0  130200.0  130900.0
         Patchogue                134700.0  136000.0  139400.0  142500.0
         Clifton Park             142500.0  143200.0  143600.0  143500.0
         Freeport                 186400.0  187400.0  188600.0  190100.0
         Lindenhurst              169000.0  169800.0  171100.0  173000.0
         Levittown                193400.0  194800.0  196100.0  197700.0
...                                    ...       ...       ...       ...
Vermont  Plainfield                    NaN       NaN       NaN       NaN
         West Brattleboro              NaN       NaN       NaN       NaN
         Duxbury                       NaN       NaN       NaN       NaN
         Rochester                     NaN       NaN       NaN       NaN
         Sharon                        NaN       NaN       NaN       NaN
         White River Junction          NaN       NaN       NaN       NaN
         Irasburg                      NaN       NaN       NaN       NaN
         Mt Holly                      NaN       NaN       NaN       NaN
         Ferrisburgh                   NaN       NaN       NaN       NaN
         Lincoln                       NaN       NaN       NaN       NaN
         Franklin                      NaN       NaN       NaN       NaN
         Bridport                      NaN       NaN       NaN       NaN
         Fayston                       NaN       NaN       NaN       NaN
         Tunbridge                     NaN       NaN       NaN       NaN
         Ryegate                       NaN       NaN       NaN       NaN
         Shaftsbury                    NaN       NaN       NaN       NaN
         Shoreham                      NaN       NaN       NaN       NaN
         Fairlee                       NaN       NaN       NaN       NaN
         Corinth                       NaN       NaN       NaN       NaN
         Brookfield                    NaN       NaN       NaN       NaN
         Orwell                        NaN       NaN       NaN       NaN
         Town of Wallingford           NaN       NaN       NaN       NaN
         Stamford                      NaN       NaN       NaN       NaN
         Mendon                        NaN       NaN       NaN       NaN
         Morrisville                   NaN       NaN       NaN       NaN
         Town of Marshfield            NaN       NaN       NaN       NaN
         Graniteville-East Barre       NaN       NaN       NaN       NaN
         Town of Manchester            NaN       NaN       NaN       NaN
         East Montpelier               NaN       NaN       NaN       NaN
Maine    Town of Dixfield              NaN       NaN       NaN       NaN

                                   2000-09   2000-10   ...     2015-11  \
State    RegionName                                    ...
New York New York                      NaN       NaN   ...      573600
         Rochester                 53300.0   53300.0   ...       65200
         Yonkers                  250800.0  253200.0   ...      404400
         Syracuse                  57300.0   57300.0   ...       80400
         Town of Greece            96500.0   96600.0   ...      124400
         Albany                    91200.0   91300.0   ...      159700
         Town of Poughkeepsie     141200.0  142700.0   ...      193500
         New Rochelle             388100.0  394700.0   ...      613900
         Town of Colonie          113700.0  113900.0   ...      207800
         Mount Vernon             264300.0  268000.0   ...      394200
         Utica                     53000.0   53000.0   ...       79000
         Valley Stream            231800.0  234900.0   ...      389100
         Schenectady               73600.0   73400.0   ...      121800
         White Plains             320400.0  324100.0   ...      534000
         Town of Hempstead        178900.0  181000.0   ...      283400
         Town of Binghamton        81900.0   82200.0   ...      119800
         Town of Newburgh         120700.0  121500.0   ...      173500
         Troy                      79400.0   78900.0   ...      128600
         Niagara Falls             50400.0   50200.0   ...       63100
         Irondequoit               84700.0   85000.0   ...      114500
         Binghamton                53700.0   53800.0   ...       74300
         Massapequa               256600.0  260100.0   ...      432600
         Town of Elmira            51800.0   52000.0   ...       69900
         Henrietta                 96200.0   96800.0   ...      134100
         Town of Webster          131400.0  131700.0   ...      174200
         Patchogue                144000.0  145900.0   ...      264200
         Clifton Park             143300.0  143700.0   ...      261000
         Freeport                 192500.0  195100.0   ...      318100
         Lindenhurst              175000.0  177700.0   ...      291900
         Levittown                199800.0  202100.0   ...      362000
...                                    ...       ...   ...         ...
Vermont  Plainfield                    NaN       NaN   ...      221000
         West Brattleboro              NaN       NaN   ...      195700
         Duxbury                       NaN       NaN   ...      233400
         Rochester                     NaN       NaN   ...      202500
         Sharon                        NaN       NaN   ...      208500
         White River Junction          NaN       NaN   ...      172800
         Irasburg                      NaN       NaN   ...      145800
         Mt Holly                      NaN       NaN   ...      200300
         Ferrisburgh                   NaN       NaN   ...      271400
         Lincoln                       NaN       NaN   ...      245000
         Franklin                      NaN       NaN   ...      177000
         Bridport                      NaN       NaN   ...      227000
         Fayston                       NaN       NaN   ...      311700
         Tunbridge                     NaN       NaN   ...      188900
         Ryegate                       NaN       NaN   ...      139200
         Shaftsbury                    NaN       NaN   ...      201300
         Shoreham                      NaN       NaN   ...      201400
         Fairlee                       NaN       NaN   ...      181300
         Corinth                       NaN       NaN   ...      152800
         Brookfield                    NaN       NaN   ...      192100
         Orwell                        NaN       NaN   ...      218400
         Town of Wallingford           NaN       NaN   ...      180100
         Stamford                      NaN       NaN   ...      171600
         Mendon                        NaN       NaN   ...      207600
         Morrisville                   NaN       NaN   ...      170700
         Town of Marshfield            NaN       NaN   ...      191100
         Graniteville-East Barre       NaN       NaN   ...      133700
         Town of Manchester            NaN       NaN   ...      279400
         East Montpelier               NaN       NaN   ...      266900
Maine    Town of Dixfield              NaN       NaN   ...       48600

                                  2015-12  2016-01  2016-02  2016-03  2016-04  \
State    RegionName
New York New York                  576200   578400   582200   588000   592200
         Rochester                  65600    66200    66900    67400    67300
         Yonkers                   403800   404900   406800   409500   411100
         Syracuse                   80700    80900    80800    80000    79200
         Town of Greece            124800   125200   125900   126700   126900
         Albany                    159400   158900   159100   159500   159100
         Town of Poughkeepsie      193400   193800   193700   193500   194600
         New Rochelle              615500   620000   627300   635000   641700
         Town of Colonie           207400   206200   206100   206900   207500
         Mount Vernon              392300   394300   395900   396600   397600
         Utica                      79300    80000    81100    82400    83000
         Valley Stream             390200   390400   389600   390600   393500
         Schenectady               122500   123000   123000   123000   123400
         White Plains              533700   536400   538200   539000   540300
         Town of Hempstead         283300   284000   285900   288500   291700
         Town of Binghamton        119000   117400   115000   112900   112300
         Town of Newburgh          172800   173000   173100   172100   171100
         Troy                      128500   128600   128800   128800   128700
         Niagara Falls              63400    63600    63600    63800    64000
         Irondequoit               115300   116000   116400   116600   116700
         Binghamton                 74100    73500    72500    71200    70300
         Massapequa                431900   432000   432300   432800   433400
         Town of Elmira             70100    70800    70800    69500    68400
         Henrietta                 134700   135500   136300   136800   136600
         Town of Webster           175100   175700   176500   177300   177200
         Patchogue                 261900   259700   258000   257000   256500
         Clifton Park              261500   263900   267400   270500   272600
         Freeport                  316900   315900   316200   318700   321700
         Lindenhurst               292500   294300   294700   294700   295700
         Levittown                 362300   361900   360400   359900   360400
...                                   ...      ...      ...      ...      ...
Vermont  Plainfield                220400   218700   217900   218100   216300
         West Brattleboro          193800   191100   189600   189100   188700
         Duxbury                   235100   237000   239000   241600   246300
         Rochester                 199200   197100   194600   191600   188400
         Sharon                    207600   206700   204900   204200   204400
         White River Junction      172300   172600   172700   170800   166100
         Irasburg                  147000   148100   148000   147700   147500
         Mt Holly                  197600   195800   195400   195600   195700
         Ferrisburgh               264700   258600   256600   258000   261100
         Lincoln                   243700   242800   243200   245300   246000
         Franklin                  176700   176300   176000   175100   175200
         Bridport                  225900   224800   222900   222600   225300
         Fayston                   314600   318200   320500   321700   323400
         Tunbridge                 189100   189000   190100   193800   197400
         Ryegate                   139700   140600   141500   142900   143600
         Shaftsbury                198700   198200   199800   203200   205500
         Shoreham                  200000   198800   199600   200600   202400
         Fairlee                   181800   181800   181400   182900   183500
         Corinth                   154600   154600   154400   155000   154500
         Brookfield                190200   189900   191000   193100   193000
         Orwell                    215100   211700   210000   210600   213900
         Town of Wallingford       178200   175900   175300   174600   173800
         Stamford                  172000   170800   169800   169300   168700
         Mendon                    205100   204400   206300   208900   209700
         Morrisville               170800   171000   171600   173100   174600
         Town of Marshfield        191000   190600   189500   188400   186700
         Graniteville-East Barre   132400   131700   132200   134700   137500
         Town of Manchester        275500   271100   269300   269700   269300
         East Montpelier           263800   261000   259800   259800   260400
Maine    Town of Dixfield           49800    50300    50700    51600    52300

                                  2016-05  2016-06  2016-07  2016-08
State    RegionName
New York New York                  592500   590200   588000   586400
         Rochester                  66900    66800    66900    66900
         Yonkers                   410200   408100   407000   406100
         Syracuse                   78600    78400    78400    78300
         Town of Greece            126700   126300   126100   126000
         Albany                    158700   158600   158800   159200
         Town of Poughkeepsie      196900   198500   199000   199100
         New Rochelle              635300   619300   611000   611200
         Town of Colonie           208000   208500   209200   210100
         Mount Vernon              395500   388800   381800   376300
         Utica                      83000    82700    82700    82900
         Valley Stream             397800   401300   402500   402600
         Schenectady               123900   124600   125000   125200
         White Plains              540400   537400   534400   532500
         Town of Hempstead         294900   297000   298300   300000
         Town of Binghamton        112800   113600   114500   115500
         Town of Newburgh          171200   171500   171400   171100
         Troy                      128700   128400   128000   127900
         Niagara Falls              64000    63500    63300    63000
         Irondequoit               116400   116100   116000   116100
         Binghamton                 70100    70200    70200    70200

In [37]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    df_housing = get_clean_housing_data()
    year = 2000
    while year <= 2016:
        for quarter in range(1, 5):
            cur_quarter = str(year) + "q" + str(quarter)
            involved_months = [quarter*3 - 2, quarter* 3 -1, quarter*3]
            involved_columns = list()
            for month in involved_months:
                if month < 10:
                    cur_col = str(year) + "-0" + str(month)
                else:
                    cur_col =  str(year) + "-" + str(month)
                if cur_col in df_housing:
                    involved_columns.append(cur_col)
            if len(involved_columns)>0:
                df_housing[cur_quarter] = df_housing[involved_columns].mean(axis=1)
                df_housing.drop(involved_columns, axis=1, inplace=True)
        year += 1
    return df_housing
convert_housing_data_to_quarters()

                                         2000q1         2000q2         2000q3  \
State    RegionName
New York New York                           NaN            NaN            NaN
         Rochester                 53566.666667   53233.333333   53200.000000
         Yonkers                  222233.333333  230900.000000  245533.333333
         Syracuse                  56800.000000   57866.666667   57400.000000
         Town of Greece            95100.000000   95500.000000   96333.333333
         Albany                    91566.666667   92100.000000   91233.333333
         Town of Poughkeepsie     131966.666667  135433.333333  139566.666667
         New Rochelle             362766.666667  370866.666667  382233.333333
         Town of Colonie          110600.000000  112400.000000  113166.666667
         Mount Vernon             239333.333333  247300.000000  258633.333333
         Utica                     50700.000000   51233.333333   52600.000000
         Valley Stream            223166.666667  225166.666667  229133.333333
         Schenectady               72266.666667   73100.000000   73733.333333
         White Plains             284333.333333  297833.333333  314366.666667
         Town of Hempstead        170166.666667  172266.666667  176800.000000
         Town of Binghamton        81633.333333   82500.000000   81700.000000
         Town of Newburgh         116000.000000  118400.000000  120233.333333
         Troy                      74733.333333   76533.333333   78866.666667
         Niagara Falls             50300.000000   50133.333333   50433.333333
         Irondequoit               83400.000000   83500.000000   84400.000000
         Binghamton                51766.666667   52000.000000   53366.666667
         Massapequa               248833.333333  251233.333333  254500.000000
         Town of Elmira            51200.000000   51600.000000   51700.000000
         Henrietta                 94566.666667   94400.000000   95766.666667
         Town of Webster          126433.333333  128600.000000  130833.333333
         Patchogue                134400.000000  135200.000000  141966.666667
         Clifton Park             140633.333333  142500.000000  143466.666667
         Freeport                 183833.333333  186433.333333  190400.000000
         Lindenhurst              168733.333333  169100.000000  173033.333333
         Levittown                189966.666667  193366.666667  197866.666667
...                                         ...            ...            ...
Vermont  Plainfield                         NaN            NaN            NaN
         West Brattleboro                   NaN            NaN            NaN
         Duxbury                            NaN            NaN            NaN
         Rochester                          NaN            NaN            NaN
         Sharon                             NaN            NaN            NaN
         White River Junction               NaN            NaN            NaN
         Irasburg                           NaN            NaN            NaN
         Mt Holly                           NaN            NaN            NaN
         Ferrisburgh                        NaN            NaN            NaN
         Lincoln                            NaN            NaN            NaN
         Franklin                           NaN            NaN            NaN
         Bridport                           NaN            NaN            NaN
         Fayston                            NaN            NaN            NaN
         Tunbridge                          NaN            NaN            NaN
         Ryegate                            NaN            NaN            NaN
         Shaftsbury                         NaN            NaN            NaN
         Shoreham                           NaN            NaN            NaN
         Fairlee                            NaN            NaN            NaN
         Corinth                            NaN            NaN            NaN
         Brookfield                         NaN            NaN            NaN
         Orwell                             NaN            NaN            NaN
         Town of Wallingford                NaN            NaN            NaN
         Stamford                           NaN            NaN            NaN
         Mendon                             NaN            NaN            NaN
         Morrisville                        NaN            NaN            NaN
         Town of Marshfield                 NaN            NaN            NaN
         Graniteville-East Barre            NaN            NaN            NaN
         Town of Manchester                 NaN            NaN            NaN
         East Montpelier                    NaN            NaN            NaN
Maine    Town of Dixfield                   NaN            NaN            NaN

                                         2000q4         2001q1         2001q2  \
State    RegionName
New York New York                           NaN            NaN            NaN
         Rochester                 53200.000000   53066.666667   52533.333333
         Yonkers                  254400.000000  259266.666667  263700.000000
         Syracuse                  57233.333333   57100.000000   56966.666667
         Town of Greece            96933.333333   98266.666667   99300.000000
         Albany                    91566.666667   92633.333333   94733.333333
         Town of Poughkeepsie     144366.666667  149366.666667  153833.333333
         New Rochelle             400066.666667  419166.666667  428066.666667
         Town of Colonie          114100.000000  115833.333333  118600.000000
         Mount Vernon             271700.000000  278833.333333  283466.666667
         Utica                     53000.000000   53300.000000   53933.333333
         Valley Stream            237200.000000  243466.666667  250333.333333
         Schenectady               73400.000000   75066.666667   76666.666667
         White Plains             326633.333333  331266.666667  335600.000000
         Town of Hempstead        182333.333333  185000.000000  189400.000000
         Town of Binghamton        82466.666667   84266.666667   85300.000000
         Town of Newburgh         123333.333333  129900.000000  131633.333333
         Troy                      78800.000000   79000.000000   79333.333333
         Niagara Falls             50200.000000   50133.333333   50133.333333
         Irondequoit               85266.666667   85933.333333   86733.333333
         Binghamton                53933.333333   54800.000000   56066.666667
         Massapequa               262900.000000  270766.666667  279133.333333
         Town of Elmira            51966.666667   51733.333333   52300.000000
         Henrietta                 97333.333333   98533.333333   99500.000000
         Town of Webster          132066.666667  133066.666667  134266.666667
         Patchogue                148433.333333  162166.666667  169233.333333
         Clifton Park             144433.333333  146366.666667  149133.333333
         Freeport                 197466.666667  203633.333333  209366.666667
         Lindenhurst              180066.666667  186366.666667  193833.333333
         Levittown                204200.000000  210700.000000  215833.333333
...                                         ...            ...            ...
Vermont  Plainfield                         NaN            NaN            NaN
         West Brattleboro                   NaN            NaN            NaN
         Duxbury                            NaN            NaN            NaN
         Rochester                          NaN            NaN            NaN
         Sharon                             NaN            NaN            NaN
         White River Junction               NaN            NaN            NaN
         Irasburg                           NaN            NaN            NaN
         Mt Holly                           NaN            NaN            NaN
         Ferrisburgh                        NaN            NaN            NaN
         Lincoln                            NaN            NaN            NaN
         Franklin                           NaN            NaN            NaN
         Bridport                           NaN            NaN            NaN
         Fayston                            NaN            NaN            NaN
         Tunbridge                          NaN            NaN            NaN
         Ryegate                            NaN            NaN            NaN
         Shaftsbury                         NaN            NaN            NaN
         Shoreham                           NaN            NaN            NaN
         Fairlee                            NaN            NaN            NaN
         Corinth                            NaN            NaN            NaN
         Brookfield                         NaN            NaN            NaN
         Orwell                             NaN            NaN            NaN
         Town of Wallingford                NaN            NaN            NaN
         Stamford                           NaN            NaN            NaN
         Mendon                             NaN            NaN            NaN
         Morrisville                        NaN            NaN            NaN
         Town of Marshfield                 NaN            NaN            NaN
         Graniteville-East Barre            NaN            NaN            NaN
         Town of Manchester                 NaN            NaN            NaN
         East Montpelier                    NaN            NaN            NaN
Maine    Town of Dixfield                   NaN            NaN            NaN

                                         2001q3         2001q4         2002q1  \
State    RegionName
New York New York                           NaN            NaN            NaN
         Rochester                 52666.666667   53200.000000   53366.666667
         Yonkers                  271300.000000  282066.666667  292833.333333
         Syracuse                  57433.333333   58000.000000   59033.333333
         Town of Greece           100000.000000  101200.000000  102766.666667
         Albany                    97266.666667   99000.000000   99433.333333
         Town of Poughkeepsie     156966.666667  164200.000000  172800.000000
         New Rochelle             436633.333333  440400.000000  443966.666667
         Town of Colonie          120666.666667  122666.666667  124433.333333
         Mount Vernon             296700.000000  307133.333333  321633.333333
         Utica                     53833.333333   54200.000000   54266.666667
         Valley Stream            256700.000000  264900.000000  272033.333333
         Schenectady               77000.000000   78333.333333   80933.333333
         White Plains             349566.666667  364366.666667  384966.666667
         Town of Hempstead        194433.333333  205200.000000  213333.333333
         Town of Binghamton        86333.333333   87766.666667   87500.000000
         Town of Newburgh         132666.666667  139533.333333  144066.666667
         Troy                      79266.666667   79500.000000   80733.333333
         Niagara Falls             48866.666667   47900.000000   48033.333333
         Irondequoit               87233.333333   88133.333333   89600.000000
         Binghamton                56333.333333   57800.000000   57933.333333
         Massapequa               286833.333333  297500.000000  307533.333333
         Town of Elmira            52300.000000   52866.666667   53666.666667
         Henrietta                 99166.666667   99400.000000   99933.333333
         Town of Webster          134533.333333  135633.333333  137433.333333
         Patchogue                177533.333333  185400.000000  190266.666667
         Clifton Park             154433.333333  157900.000000  160533.333333
         Freeport                 217000.000000  227700.000000  237066.666667
         Lindenhurst              202066.666667  212666.666667  219500.000000
         Levittown                223200.000000  234100.000000  241400.000000
...                                         ...            ...            ...
Vermont  Plainfield                         NaN            NaN            NaN
         West Brattleboro                   NaN            NaN            NaN
         Duxbury                            NaN            NaN            NaN
         Rochester                          NaN            NaN            NaN
         Sharon                             NaN            NaN            NaN
         White River Junction               NaN            NaN            NaN
         Irasburg                           NaN            NaN            NaN
         Mt Holly                           NaN            NaN            NaN
         Ferrisburgh                        NaN            NaN  144000.000000
         Lincoln                            NaN            NaN            NaN
         Franklin                           NaN            NaN            NaN
         Bridport                           NaN            NaN            NaN
         Fayston                            NaN            NaN            NaN
         Tunbridge                          NaN            NaN            NaN
         Ryegate                            NaN            NaN            NaN
         Shaftsbury                         NaN            NaN            NaN
         Shoreham                           NaN            NaN            NaN
         Fairlee                            NaN            NaN            NaN
         Corinth                            NaN            NaN            NaN
         Brookfield                         NaN            NaN            NaN
         Orwell                             NaN            NaN            NaN
         Town of Wallingford                NaN            NaN            NaN
         Stamford                           NaN            NaN            NaN
         Mendon                             NaN            NaN            NaN
         Morrisville                        NaN            NaN            NaN
         Town of Marshfield                 NaN            NaN            NaN
         Graniteville-East Barre            NaN            NaN            NaN
         Town of Manchester                 NaN            NaN            NaN
         East Montpelier                    NaN            NaN            NaN
Maine    Town of Dixfield                   NaN            NaN            NaN

                                         2002q2    ...            2014q2  \
State    RegionName                                ...
New York New York                           NaN    ...     515466.666667
         Rochester                 53566.666667    ...      60100.000000
         Yonkers                  303533.333333    ...     382033.333333
         Syracuse                  60200.000000    ...      76533.333333
         Town of Greece           103400.000000    ...     120000.000000
         Albany                   101233.333333    ...     164266.666667
         Town of Poughkeepsie     176933.333333    ...     191300.000000
         New Rochelle             452133.333333    ...     577200.000000
         Town of Colonie          126233.333333    ...     200966.666667
         Mount Vernon             329700.000000    ...     347933.333333
         Utica                     55166.666667    ...      78466.666667
         Valley Stream            279566.666667    ...     360666.666667
         Schenectady               83866.666667    ...     122733.333333
         White Plains             400700.000000    ...     500100.000000
         Town of Hempstead        221200.000000    ...     265000.000000
         Town of Binghamton        88666.666667    ...     123333.333333
         Town of Newburgh         151233.333333    ...     179066.666667
         Troy                      82600.000000    ...     129800.000000
         Niagara Falls             48666.666667    ...      60200.000000
         Irondequoit               91033.333333    ...     109466.666667
         Binghamton                57866.666667    ...      75766.666667
         Massapequa               320066.666667    ...     420100.000000
         Town of Elmira            54000.000000    ...      74633.333333
         Henrietta                100466.666667    ...     126300.000000
         Town of Webster          138833.333333    ...     167966.666667
         Patchogue                195166.666667    ...     253533.333333
         Clifton Park             163833.333333    ...     254466.666667
         Freeport                 244133.333333    ...     297400.000000
         Lindenhurst              227533.333333    ...     284233.333333
         Levittown                250300.000000    ...     333800.000000
...                                         ...    ...               ...
Vermont  Plainfield                         NaN    ...     223000.000000
         West Brattleboro                   NaN    ...     190000.000000
         Duxbury                            NaN    ...     244033.333333
         Rochester                          NaN    ...     199600.000000
         Sharon                             NaN    ...     202933.333333
         White River Junction               NaN    ...     154133.333333
         Irasburg                           NaN    ...     139133.333333
         Mt Holly                           NaN    ...     206633.333333
         Ferrisburgh              156300.000000    ...     288700.000000
         Lincoln                            NaN    ...     236933.333333
         Franklin                           NaN    ...     175333.333333
         Bridport                           NaN    ...     228333.333333
         Fayston                            NaN    ...     317233.333333
         Tunbridge                          NaN    ...     210433.333333
         Ryegate                            NaN    ...     160900.000000
         Shaftsbury                         NaN    ...     231666.666667
         Shoreham                           NaN    ...     231500.000000
         Fairlee                            NaN    ...     175533.333333
         Corinth                            NaN    ...     160800.000000
         Brookfield                         NaN    ...     217033.333333
         Orwell                             NaN    ...     222166.666667
         Town of Wallingford                NaN    ...     177033.333333
         Stamford                           NaN    ...     170733.333333
         Mendon                             NaN    ...     207133.333333
         Morrisville                        NaN    ...     172466.666667
         Town of Marshfield                 NaN    ...     189266.666667
         Graniteville-East Barre            NaN    ...     131433.333333
         Town of Manchester                 NaN    ...     277300.000000
         East Montpelier                    NaN    ...     265366.666667
Maine    Town of Dixfield                   NaN    ...      37966.666667

                                         2014q3         2014q4         2015q1  \
State    RegionName
New York New York                 522800.000000  528066.666667  532266.666667
         Rochester                 61266.666667   62800.000000   62900.000000
         Yonkers                  385766.666667  385333.333333  385866.666667
         Syracuse                  75733.333333   75133.333333   76966.666667
         Town of Greece           121133.333333  122433.333333  121633.333333
         Albany                   162100.000000  159700.000000  159433.333333
         Town of Poughkeepsie     191700.000000  193566.666667  194233.333333
         New Rochelle             596600.000000  610466.666667  604600.000000
         Town of Colonie          199533.333333  201100.000000  203200.000000

In [9]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"